/* Fonts */
@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Helvetica-Regular.woff");
}
@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Helvetica-Bold.woff");
}
html, body {
    font-family: "Helvetica";
    font-style: normal;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: .7;
    cursor: pointer;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header start */
.header,
.header__bottom {
    z-index: 2;
}
.header__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.header__contacts {
    display: flex;
    gap: 100px;
    align-items: center;
}

.header__contacts-tel {
    font-size: 22.031px;
    line-height: 25px;
    color: rgba(0,0,0,.7);
    text-decoration: none;
}

.header__contacts-search {
    border: 2px dashed #9747FF;
    padding: 20px;
}

.header__bottom {
    position: absolute;
    bottom: -70%;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 0;
    max-width: 1150px;
    width: 100%;
}
.header__bottom::after {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 200vw;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    z-index: -2;
}

.header__list-item {
    position: relative;
}

.header__list-sublist {
    position: absolute;
    top: 150%;
    left: -145%;
    text-align: center;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    display: none;
    border-radius: 40px;
    z-index: -1;
}

.sublist-show {
    display: block;
}

.header__list-subitem:not(:last-child) {
    margin-bottom: 10px;
}

.header__close {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 100px;
    height: 100px;
    filter: brightness(0) invert(1);
}

.header__burger {
    width: 40px;
    height: 28px;
    position: relative;
    margin-left: auto;
    margin-right: 20px;
    z-index: 2;
    display: none;
}
.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
}
.burger__line_first {
    top: 0;
}
.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}
.burger__line_third {
    bottom: 0;
}
.header__close {
    display: none;
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list-link {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    text-decoration: none;
    transition: .2s ease all;
    padding-bottom: 10px;
}
.header__list-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 2px solid #fff;
    transition: .2s ease all;
    opacity: 0;
}
.header__list-link:hover.header__list-link::after {
    opacity: 1;
}

/* Header end */

section {
    margin-bottom: 300px;
}

/* Index start */
.pictures {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
}
.pictures__list {
    display: flex;
    width: 100%;
}
.pictures__list-item {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.pictures__list-item:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.pictures__item {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    min-width: 25%;
    width: 100%;
}
.pictures__card {
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    padding-bottom: 100%;
}
.pictures__item-content {
    z-index: 2;
    padding: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.pictures__item.item-1 {
    background: url('../img/pictures-1.png') no-repeat center;
    background-size: cover;
}
.pictures__item.item-2 {
    background: url('../img/pictures-2.png') no-repeat center;
    background-size: cover;
}
.pictures__item.item-3 {
    background: url('../img/pictures-3.png') no-repeat center;
    background-size: cover;
}
.pictures__item.item-4 {
    background: url('../img/pictures-4.png') no-repeat center;
    background-size: cover;
}
.pictures__item.item-5 {
    background: url('../img/pictures-5.png') no-repeat center;
    background-size: cover;
}

.pictures__item-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #fff;
}

.pictures__item-ico {
    width: 94px;
    height: 94px;
}

/* Index end */


/* About start */
.main-section {
    position: relative;
    height: 100vh;
}
.main-about {
    background: url('../img/about-bg.jpg') no-repeat center;
    background-size: cover;
    margin-bottom: 50px;
}

.main-section__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 1100px;
    width: 100%;
    max-height: 366px;
}

.main-section__title-h1 {
    font-weight: 700;
    font-size: 100px;
    line-height: 114px;
    color: #fff;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 22px;
    padding: 10px 10px 100px;
}

.mission {
    margin-bottom: 200px;
}

.mission__images {
    height: 600px;
    margin-bottom: 150px;
}

.block__title {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
    text-align: center;
}

.gradient-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    background: linear-gradient(180deg, #1E669D 0%, #51C7FF 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.block__title .gradient-text {
    padding: 0 15px;
}

.mission__title-text:first-child {
    margin-bottom: 60px;
}

.swiper1 {
    width: 600px;
    height: 300px;
    margin-bottom: 50px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper1 .swiper-slide img {
    height: 200px;
}

.section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    background: linear-gradient(180deg, #1E669D 0%, #51C7FF 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 55px;
}
section.activity {
    margin-bottom: 0;
}
.activity__block {
    padding: 65px 0;
    background: #F4F4F4;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.activity__card {
    display: flex;
    max-width: 1300px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.activity__card:last-child {
    margin-bottom: 0;
}

.activity__card-img {
    max-width: 375px;
    width: 100%;
    height: 275px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 20px;
}

.activity__card-text {
    font-weight: 400;
    font-size: 33px;
    line-height: 38px;
    color: #fff;
    padding: 40px 10px;
    width: max-content;
}
.card__desc-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    white-space: pre-line;
}

.card-1 .activity__card-img {
    background: url(../img/activity-1.png) no-repeat center;
    background-size: auto;
}
.card-2 .activity__card-img {
    background: url(../img/activity-2.png) no-repeat center;
    background-size: auto;
}
.card-3 .activity__card-img {
    background: url(../img/activity-3.png) no-repeat center;
    background-size: auto;
}
.card-4 .activity__card-img {
    background: url(../img/activity-4.png) no-repeat center;
    background-size: auto;
}

.activity__card-desc {
    max-width: 750px;
}
section.quote {
    margin-bottom: 0;
}

.quote .block__title {
    display: flex;
    gap: 80px;
    margin: 160px auto;
}

.quote__block-img {
    position: relative;
    width: 87px;
    height: 87px;
}
.quote__block-img::after {
    content: '';
    position: absolute;
    width: 87px;
    height: 87px;
    top: -50px;
    left: 0;
    background: url('../img/quote-ico.svg') no-repeat center;
}

.gradient__space {
    width: 100%;
    height: 200px;
    background: linear-gradient(160deg, #1E669D 0%, #51C7FF 100%);
    margin-bottom: 120px;
}

.sertification { 
    margin-bottom: 170px;
}

.swiper2 .swiper-slide {
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 90px;
}
.swiper2 {
    position: relative;
}
.swiper2::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 53%;
    transform: translateX(-50%);
    width: 1402px;
    height: 416px;
    border: 3px solid #EFF0F6;
    border-radius: 60px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

}
.swiper2 .swiper-slide img {
    max-width: 396px;
    width: 100%;
    z-index: 2;
}
.swiper2 .slide__text {
    display: flex;
    height: 416px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 431px;
    
    font-size: 24px;
    line-height: 28px;
}

.swiper-button-next2 {
    position: absolute;
    top: 50%;
    right: 10%;
    width: 96px;
    height: 96px;
    background: url('../img/slider-next.svg') no-repeat center;
    z-index: 2;
}
.slide__text-title {
    color: #1E669D;
}

.partners {
    margin-bottom: 250px;
}

.partners__title {
    margin-bottom: 100px;
}

.partners__images {
    display: flex;
    margin-left: 50px;
}

.partners__image {
    width: 300px;
    height: 200px;
}

.big__img-img {
    width: 100%;
}

/* About end */


/* CMP start */

.main-cmp {
    background: url('../img/cmp-bg.jpg') no-repeat center;
    background-size: cover;
}

.work__card {
    max-width: 1359px;
    display: flex;
    gap: 15px;
    margin: 0 auto;
    margin-bottom: 237px;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #EFF0F6;
    border-radius: 60px;
}
.work__card:last-child {
    margin-bottom: 0;
}

.work .card__desc-text {
    max-width: 560px;
}

.work .card__desc-text:nth-child(odd) {
    padding-left: 55px;
}
.work .card__desc-text:nth-child(even) {
    padding-right: 55px;
}

.work__card-img {
    width: 100%;
}

.page__bottom {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 115px;
}

.bottom__link {
    display: flex;
    align-items: center;
    gap: 25px;
}

.bottom__link-img {
    box-shadow: 0px 5.50776px 22.031px rgba(158, 158, 158, 0.25);
    border-radius: 22.031px;
    width: 187px;
    height: 187px;
}

/* CMP end */

/* CMP-2 start */

.main-cmp-2 {
    background: url('../img/cmp-2-bg.jpg') no-repeat center;
    background-size: cover;
}

.work .card__desc-text:nth-child(even) {
    padding-left: 55px;
}
.work .card__desc-text:nth-child(odd) {
    padding-right: 55px;
}

.cmp-2 .page__bottom {
    justify-content: center;
}

/* CMP-2 end */


/* Materials start */

.main-materials {
    background: url('../img/materials-bg.jpg') no-repeat center;
    background-size: cover;
}
.materials .main-section__title-h1 {
    margin-bottom: 10px;
}

.materials__search {
    display: flex;
    padding: 12px 30px;
    max-width: 600px;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(22px);
    border-radius: 22px;
}

.materials__search-input {
    border: 0;
    padding-left: 30px;
    margin-right: 10%;
    width: max-content;
    background-color: transparent;
    background: url('../img/materials__search-ico.svg') no-repeat left;
    background-size: 21px 21px;

    font-size: 22.031px;
    line-height: 25px;
    color: #1E669D;
}
.materials__search-input::placeholder {
    color: #1E669D;
    opacity: .7;
}

.materials__search-btn {
    display: inline-block;
    padding: 16px;
    min-width: 200px;
    text-align: center;
    background: #fff;
    border-radius: 44px;
    font-weight: 700;
    font-size: 22.031px;
    line-height: 25px;
    color: #1E669D;
    opacity: 0.7;
}

.marks__cards {
    width: max-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 100px;
}

.mark__card {
    padding: 60px;
    border: 2.97253px solid #EFF0F6;
    border-radius: 60px;
}

.mark__card-img {
    max-width: 250px;
    max-height: 200px;
    width: 100%;
    height: 100%;
}

.sertificates .block__title {
    margin-bottom: 200px;
}

.certificates__slider {
    position: relative;
}

.swiper3 {
    width: 548px;
    height: 767px;
}
.swiper-button-prev3 {
    position: absolute;
    top: 45%;
    left: 20%;
    width: 96px;
    height: 96px;
    background: url('../img/slider-next.svg') no-repeat center;
    background-size: contain;
    z-index: 2;
    transform: rotate(180deg);
}
.swiper-button-next3 {
    position: absolute;
    top: 45%;
    right: 20%;
    width: 96px;
    height: 96px;
    background: url('../img/slider-next.svg') no-repeat center;
    background-size: contain;
    z-index: 2;
}

.solutions {
    background: url('../img/materials__cards-bg.png') no-repeat bottom;
    background-size: contain;
}

.solutions__cards {
    display: grid;
    column-gap: 50px;
    row-gap: 80px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;
}

.solution__card {
    max-width: 487px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    border: 3px solid #EFF0F6;
    border-radius: 60px;
    box-shadow: 5px 50px 100px 0px rgba(34, 60, 80, 0.2);
}
.solution__card-text {
    max-width: 300px;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #1E669D;
    text-align: center;
}

.catalog {
    margin-bottom: 0;
}

.catalog .block__title {
    margin-bottom: 150px;
}

.catalog__cards {
    width: 100%;
    height: 1067px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.catalog__card {
    padding: 138px 35px;
}
.catalog__card-contains {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    border-color: #FFFFFF;
    border-radius: 22px;
    backdrop-filter: blur(22px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog__card.card-1 {
    background: url('../img/catalog__card-1.png') no-repeat center;
    background-size: cover;
}
.catalog__card.card-2 {
    background: url('../img/catalog__card-2.png') no-repeat center;
    background-size: cover;
}
.catalog__card.card-3 {
    background: url('../img/catalog__card-3.png') no-repeat center;
    background-size: cover;
}

.catalog__card-text {
    width: 80%;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #fff;
}

/* Materials end */


/* Advantages start */

.main-advantages {
    background: url('../img/advantages-bg.jpg') no-repeat center;
    background-size: cover;
}

.advantages__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 25px;
}

.advantages__card {
    max-width: 400px;
    width: 100%;
    height: max-content;

    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: #1E669D;
}

.advantages__card-num {
    display: inline-block;
    font-size: 128px;
    line-height: 147px;
    margin-bottom: 64px;
}

.desc__card {
    position: relative;
    max-width: 640px;
    width: 100%;
    height: max-content;
    padding: 60px;
    background: #fff;
    border: 3px solid #FFFFFF;
    box-shadow: 5px 50px 100px 15px rgba(34, 60, 80, 0.2);
    border-radius: 60px;
    margin-bottom: 20px;
    z-index: 2;
}

.desc__card:nth-child(even) {
    margin-left: auto;
}

.desc__card-title {
    display: inline-block;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #1E669D;
    margin-bottom: 150px;
}

.desc__card-text {
    display: flex;
    align-items: center;
    gap: 55px;
}
.desc__card-p {
    white-space: pre-line;
    max-width: 347px;
    width: 50%;
    font-size: 24px;
    line-height: 28px;
}
.desc__card-img {
    width: 256px;
    height: 256px;
}

.advantages .catalog__card.card-1 {
    background: url('../img/advantages__catalog-1.png') no-repeat center;
    background-size: cover;
}
.advantages .catalog__card.card-2 {
    background: url('../img/advantages__catalog-2.png') no-repeat center;
    background-size: cover;
}
.advantages .catalog__card.card-3 {
    background: url('../img/advantages__catalog-3.png') no-repeat center;
    background-size: cover;
}

/* Advantages end */


/* Footer start */

.footer {
    padding: 60px 0;
    background: #1D1D1B;
}
.footer__mw1120 {
    display: none;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footer__item:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer__item {
    display: flex;
    align-items: flex-end;
}

.footer__title-h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    color: #fff;
    margin-bottom: 25px;
}

.footer__title-copyright {
    display: flex;
    gap: 48px;
}

.title__copyright-text {
    font-weight: 300;
    font-size: 15px;
    line-height: 17px;
    color: #808080;
}

.footer__nav {
    display: flex;
    gap: 50px;
}
.footer__menu:last-child {
    max-width: 185px;
    width: 100%;
}
.footer__menu-item {
    margin-bottom: 20px;
}
.footer__menu-item:last-child {
    margin-bottom: 0;
}

.footer__menu-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #808080;
    text-decoration: none;
}

.footer__form {
    display: flex;
    flex-direction: column;
    gap: 35px;

    max-width: 300px;
}

.footer__form-input {
    padding: 10px 15px;
    font-weight: 1;
    font-size: 14px;
    line-height: 24px;
}
.footer__form-input::placeholder {
    color: #D2D2D2;
}

.footer__form-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.footer__form-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.footer__form-radio+label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #1E669D;
    border-radius: 2px;
    margin-right: 14px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.footer__form-radio:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.footer__form-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}
.footer__form-radio:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
.footer__form-radio:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.footer__form-radio:focus:not(:checked)+label::before {
    border-color: #80bdff;
}
.footer__form-radio:disabled+label::before {
    background-color: #e9ecef;
}

.form__radio-label {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
}

.footer__form-submit {
    padding: 10px 15px;
    width: max-content;
    background: #fff;
    font-weight: 1;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    border: 0;
}

/* Footer end */

@media (max-width: 1120px) {
    .header__list {
        gap: 20px;
    }
    .main-section__title {
        max-width: max-content;
        padding: 20px;
        text-align: center;
        width: 80%;
    }
    .materials__search {
        width: 80%;
    }
    .activity__card-desc {
        max-width: 600px;
    }
    .swiper-button-next2 {
        right: 2%
    }
    .swiper-button-prev3 {
        left: 10%;
    }
    .swiper-button-next3 {
        right: 10%;
    }
    .solution__card-text {
        font-size: 28px;
        line-height: 38px;
    }
    .advantages__cards {
        grid-template-columns: 1fr 1fr;
    }
    .desc__card:not(:last-child) {
        margin-bottom: 50px;
    }
    .footer__mw1120 {
        display: block;
    }
    .footer__base {
        display: none;
    }
    .footer__wrapper {
        flex-direction: column;
    }
    .footer__item {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__second {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .footer__nav {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 960px) {
    .header__burger {
        display: block;
    }
    .header__nav {
        position: fixed;
        width: 100%;
        height: 100%;
        transform: translateX(100vw);
        top: 0;
        left: 0;
        background: rgb(14,29,40,.9);
        z-index: 10;
    }
    .header__nav-active {
        transform: translateX(0);
        top: -135px;
        left: -16px;
        width: 101vw;
        height: 101vh;
    }
    .header__list {
        gap: 15px;
    }
    .header__list-item {
        text-align: center;
    }
    .header__list-active {
        position: absolute;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .header__list-link {
        font-size: 30px;
        line-height: 35px;
    }
    .header__list-sublist {
        position: static;
        margin-top: 10px;
    }
    .gradient-text {
        font-size: 28px;
    }
    
    .pictures__list {
        flex-direction: column;
    }
    .pictures__list-item {
        width: 100%;
    }
    .pictures__card.big {
        padding-bottom: 50%;
    }
    .activity__card {
        flex-direction: column;
    }
    .main-section__title-h1 {
        font-size: 60px;
    }
    .swiper-button-next2 {
        top: 0;
    }
    .partners__image {
        width: 250px;
        height: 150px;
    }

    .work__card {
        flex-direction: column;
        gap: 25px;
        padding-bottom: 35px;
        max-width: max-content;
    }
    .cmp-1 .work__card:nth-child(odd) {
        flex-direction: column-reverse;
    }
    .cmp-2 .work__card:nth-child(even) {
        flex-direction: column-reverse;
    }
    .work .work__card .card__desc-text {
        padding: 0;
    }
    .marks__cards {
        gap: 50px;
    }
    .mark__card {
        padding: 30px;
    }
    .swiper-button-prev3 {
        left: 0;
    }
    .swiper-button-next3 {
        right: 0;
    }
    .solutions__cards {
        column-gap: 20px;
        row-gap: 40px;
    }
    .catalog__cards {
        grid-template-columns: 1fr;
    }
    .advantages__card {
        font-size: 32px;
        line-height: 38px;
    }
    .advantages__card-num {
        font-size: 98px;
        line-height: 100px;
    }
}

@media (max-width: 800px) {
    .solutions__cards {
        grid-template-columns: 1fr 1fr;
    }
    .desc__card {
        margin: 0 auto;
    }
    .desc__card-title {
        margin-bottom: 100px;
    }
}

@media (max-width: 640px) {
    .header__nav-active {
        top: -210%;
    }
    .header__wrapper {
        flex-direction: column;
        gap: 15px;
    }
    .header__bottom {
        bottom: -40%;
    }
    .materials__search {
        flex-direction: column;
        gap: 15px;
    }
    section {
        margin-bottom: 150px;
    }
    .pictures__list-item:last-child {
        grid-template-columns: 1fr;
    }
    .pictures__card {
        padding-bottom: 50%;
    }
    .section__title {
        font-size: 32px;
        line-height: 38px;
    }
    .main-section__title-h1 {
        font-size: 40px;
        line-height: 80px;
    }
    .gradient-text {
        font-size: 30px;
    }
    .work__card:not(:last-child) {
        margin-bottom: 150px;
    }
    .bottom__link-img {
        width: 120px;
        height: 120px;
    }
    .swiper-button-next2 {
        display: none;
    }
    .swiper2 .swiper-slide {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .swiper2 .slide__text {
        height: 220px;
    }
    .quote .block__title {
        gap: 0;
    }
    .quote__block-img::after {
        top: -120%;
    }
    .partners__images {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .swiper3 {
        width: 400px;
        height: 500px;
    }
    .swiper-button-prev3,
    .swiper-button-next3 {
        top: 102%;
        width: 80px;
        height: 80px;
    }
    .catalog .block__title {
        margin-bottom: 50px;
    }
    .marks__cards {
        flex-direction: column;
    }
    .solution__card-text {
        font-size: 24px;
        line-height: 34px;
    }
    .sertificates .block__title {
        margin-bottom: 100px;
    }
    .desc__card {
        max-width: max-content;
        padding: 30px;
    }
    .desc__card-img {
        width: 190px;
        height: 190px;
    }
    .desc__card-title {
        font-size: 32px;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .desc__card-text {
        flex-direction: column-reverse;
    }
    .desc__card-p {
        width: 100%;
        text-align: center;
    }
    .advantages__cards {
        grid-template-columns: 1fr;
        gap: 70px;
    }
    .advantages__card {
        justify-self: center;
    }
    .advantages__card-num {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 10px;
    }
    .footer__second {
        flex-direction: column;
        gap: 40px;
    }
    .footer__first .footer__item {
        align-items: center;
    }
    .footer__nav {
        flex-direction: column;
        align-items: center;
    }
    .footer__menu {
        text-align: center;
    }
}

@media (max-width: 420px) {
    .header__contacts {
        gap: 50px;
    }
    .header__contacts-tel {
        font-size: 16px;
    }
    .pictures__item-title {
        font-size: 22px;
    }
    .main-section {
        margin-bottom: 20px;
    }
    .section__title {
        font-size: 32px;
        line-height: 34px;
        text-align: center;
    }
    .main-section__title-h1 {
        font-size: 32px;
        line-height: 40px;
    }
    .gradient-text {
        font-size: 20px;
        line-height: 34px;
    }
    .work .work__card .card__desc-text {
        padding: 20px;
        text-align: center;
    }
    .work__card:not(:last-child) {
        margin-bottom: 100px;
    }
    .materials__search {
        align-items: center;
    }
    .materials__search-input {
        margin-right: 0;
        width: 100%;
    }
    .mark__card {
        padding: 5px;
    }
    .mark__card-img {
        max-width: 200px;
        height: 150px;
    }
    .swiper3 {
        width: 250px;
        height: 350px;
    }
    .solutions__cards {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .solution__card {
        height: 200px;
    }
    .solution__card-text {
        font-size: 20px;
        line-height: 30px;
    }
    .block__title .gradient-text {
        font-size: 24px;
        text-align: center;
    }
    .swiper-button-prev3, .swiper-button-next3 {
        width: 50px;
        height: 50px;
    }
    .catalog__card {
        padding: 138px 5px;
        display: flex;
        justify-content: center;
    }
    .catalog__card-contains {
        width: 80%;
    }
    .catalog__card-text {
        font-size: 24px;
        line-height: 38px;
    }
    .desc__card {
        padding: 10px;
    }
    .desc__card-text {
        gap: 10px;
    }
    .desc__card-img {
        width: 100px;
        height: 100px;
    }
    .advantages__card-num {
        font-size: 32px;
        line-height: 40px;
    }
    .advantages__card-text {
        font-size: 24px;
        line-height: 30px;
    }
    .page__bottom {
        justify-content: center;
    }
    .bottom__link {
        flex-direction: column;
        gap: 0;
    }
    .bottom__link-img {
        width: 80px;
        height: 80px;
        margin-left: auto;
    }
    .footer__title-h1 {
        font-size: 30px;
    }
    .footer__menu-link {
        font-size: 16px;
    }
}